<%- include('partials/header.ejs')%>
<div class="container-fluid text-center text-bg-dark p-5">
    <h1>Connect with me</h1>

</div>
<div>
    <div class="my-5">
        <div class="p-5 text-center bg-body-tertiary">
          <div class="container py-5">
            <div class="row p-5">
                <div class="col-lg-4 text-center">
                  <img class="rounded-circle" src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="github" width="140" height="140">
                  <h2 class="pt-2 pb-2">GitHub</h2>
                  <p><a class="btn btn-light" href="https://github.com/anantmann9057" role="button">Connect with me</a></p>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4 text-center">
                    <img class="download text-center" src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" alt="linked" width="140" height="140">
                    <h2 class="pt-2 pb-2">LinkedIn</h2>
                    <p><a class="btn btn-light" href="https://www.linkedin.com/in/anantmann/" role="button">Connect with me</a></p>
                  </div>
                <div class="col-lg-4 text-center">
                  <img class="rounded-circle" src="https://cdn-icons-png.flaticon.com/512/174/174869.png" alt="skype" width="140" height="140">
                  <h2 class="pt-2 pb-2">Skype</h2>
                  <p><a class="btn btn-light" href="https://join.skype.com/invite/y2ixMeNn5FaU" role="button">Connect with me</a></p>
                </div><!-- /.col-lg-4 -->
              </div>
          </div>
        </div>
      </div>
   
</div>