<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <%- include("partials/header.ejs") %>
    <div class="banner ">
        <div class="rounded position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-body-tertiary ">
            
            <div class="col-md-6 p-lg-5 mx-auto my-5">
               
              <h1 class="display-3 fw-bold">Hi, I am Anant and</h1>
              <h3 class="fw-normal text-muted mb-3">I Love to Code!</h3>
              <div class="d-flex gap-3 justify-content-center lead fw-normal">
            
              </div>
            </div>
            <div class="product-device shadow-sm d-none d-md-block"></div>
            <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
          </div>
    </div>
    <div class="text-center p-5 text-light">
        <h1>Languages I Know</h1>
    </div>
    <div class="about w-100 ">
        <div class="img-background d-md-flex flex-md-equal w-100 ">
            <div class="text-bg-dark ps-5 pe-5 pt-3 px-3 pt-md-5  text-center overflow-hidden w-100">
              <div class="my-3 py-3 ">
                <h2 class="display-5">Java</h2>
              </div>
              <div class=" bg-body-tertiary shadow-sm mx-auto" style="width: 100%; height: 300px; border-radius: 21px 21px 0 0; display: inline-flex;align-items: center; justify-content: center;" >
                <img class="img" src="assets/android.svg" alt="android" style="height: 150px; width: 100%; ">
              </div>
              
            </div>
            <div class=" img-background  ps-5 pe-5 bg-body-tertiary pt-3  pt-md-5  text-center overflow-hidden w-100">
              <div class="my-3 p-3">
                <h2 class="display-5">Kotlin</h2>
              </div>
              <div class="container-fluid  bg-dark shadow-sm mx-auto" style="width: 100%; height: 300px; border-radius: 21px 21px 0 0;  display: inline-flex;align-items: center; justify-content: center;">
                <img class="img m-5 p-5" src="assets/kotli.png" alt="android" style=" width: 50%;">
    
              </div>
            </div>
          </div>
        </div>
         <div class="img-background d-md-flex flex-md-equal w-100 ">
           
            <div class="bg-body-tertiary  px-3 pt-md-5 px-md-5 text-center overflow-hidden w-100">
                <div class="my-3 p-3">
                  <h2 class="display-5">MERN</h2>
                </div>
                <div class=" bg-dark shadow-sm mx-auto" style="width: 100%; height: 300px; border-radius: 21px 21px 0 0; display: inline-flex;align-items: center; justify-content: center;">
                    <img  class="img pt-5 ps-5 pe-5" src="assets/mern.png" alt="android" style=" width: 100%;">
    
                </div>
              </div>
            <div class="text-bg-dark ps-5 pe-5 pt-3  pt-md-5 text-center overflow-hidden w-100">
              <div class="my-3 py-3">
                <h2 class="display-5">Flutter</h2>
              </div>
              <div class="bg-body-tertiary shadow-sm mx-auto" style="width: 100%; height: 300px; border-radius: 21px 21px 0 0;display: inline-flex;align-items: center; justify-content: center;">
                <img class="img pt-5 ps-5 pe-5" src="assets/flutter.png" alt="android" style=" width: 100%;">
    
              </div>
            </div>
            
          </div>
        </div>
   </div>

</body>
</html>
