<%- include('partials/header.ejs') %>
<div class=" main">
    <div class="container-fluid text-center text-bg-dark p-5 m-0">
        <h1>My Work Experience</h1>

    </div>
    <div class="container-fluid ps-5 pe-5 mt-5">
        <img src="assets/1.png" alt="resume1" style="width: 100%;">
        <img src="assets/2.png" alt="resume2"  style="width: 100%;">
      </div>

</div>